*{
	margin: 0;
	padding: 0;
}
html,body{
	width:100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.background{
	width: 100%;
	height: 100%;
	background-image: url(../images/unnamed.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}
.nav{
	width: 300px;
	height: auto;
	position: absolute;
	top:20%;
	left: 0
}

.nav a{
	text-decoration: none;
	font-size: 28px;
	font-family: verdana;
	font-weight: bold;
	height: 90px;
	margin: 5px 0;
	float: left;
	display: inline-block;
	background-color: black ;
	color: white;
	line-height: 90px;
	text-align: center;
	transition: 300ms;
}
a.active,.nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
}
.a{
	width:95%;
}
.b{
	width:85%;
}
.c{
	width:80%;
}
.d{
	width:90%;
}
.content{
	position: absolute;
	width: 475px;
    min-height: 113px;
    height: auto;
    right:1%; 
    top: 10%
}
.home{

position: absolute;
right: 0;
bottom: 0;
color: white;
font-size: 1.4em;
font-family: verdana;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: wavy;
text-decoration-color:rgb(255,0,0);
}

.home h3{
font-size: 28px;
padding: 5px 0;
opacity: 0.9;
}

.aboutus{
	position: absolute;
    left: -100%; 
    top: 10px;
    color: white;
    font-family: comic sans ms;
    padding: 0 60px;
    display: none;
}
.absolute p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.gallery{

    position: absolute;
    right: : 0;
    top: 10px;
    color: white;
    padding: 0 60px; 
    display: none;
}

.gallery .image{

    width: 73%;
    margin: 2%;
    float: right;

} 
.image img{

    width: 100%; 
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform:scale(1);
    -webkit-transform: scale(1);

   }

 .image img:hover{
 	transform: scale(1.2);
 	-webkit-transform:scale(1.2);
 }


 .contactus{
    position: absolute;
    right: 0;
    top: 10px; 
    color: white;
    padding: 0 60px;
    display: none;
}

.inputtext{
    width: 85%;
    height: 65px;
    border: 3px solid black;
    color: white;
    background-color: rgba(  0,0,0,0.7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
    margin-bottom: 15px;
}

.inputmessage{
    width: 85%;
    height: 135px;
    border: 3px solid black;
    color: white;
    background-color: rgba(  0,0,0,0.7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
}

.submitbutton{
	width: 100px;
	height: 45px;
	font-family: arial;
	background-color: grey;
	color: white;
	font-size: 24px;
	border: none;
	font-weight: bold;
	float: left;
	clear: both;
	margin-top: 25px;

}
